.splide__pagination__page.is-active {
    transform: unset;
    background: var(--primary-color);
}
  
.splide__pagination__page {
    height: 11px;
    width: 11px;
    border: 1px solid hsla(0,0%,53.7%,.4);
    margin: 5px;
    opacity: 1;
    background-color: hsla(0,0%,100%,.4);
}

.splide__arrow--prev {
    left: 0em;
}

.splide__arrow--next {
    right: 0em;
}

.splide__arrow {
    height: 4em;
    width: 2.2em;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.085);
}

.splide__arrow svg {
    fill: #fff;
    height: 2.2em;
    width: 1.5em;
}

.splide__arrow:hover {
    background: rgba(0, 0, 0, 0.4);
}

.splide__arrows {
    display: none;
}

.splide:hover .splide__arrows {
    display: block;
}

.pad-bot-0 {
    padding-bottom: 0;
    padding-top: 0;
}